<div class="container">
  <div class="row" style="padding-left:98px;">
    {{> admin-leftbar}}
    <div class="main col-10">
      <div class="home-page font-lg-dark">
        <a href="/admin/users">使用者列表</a>
      </div>
      <div class="hr-line"></div>
      <div class="admin-users-list">
        {{#each userByFind}}
        <div class="user-list-item">
          <div class="user-list-item-cover"
            style="background: url({{this.dataValues.cover}});background-repeat:no-repeat;background-position: center;background-size: cover;">
          </div>
          <div class="user-list-item-avatar">
            <img src="{{this.dataValues.avatar}}" class="rounded-circle" style="width: 100px;height:100px;">
          </div>
          <div class="user-list-item-info">
            <a href="">
              {{this.dataValues.name}}
            </a>
            <div class="user-list-item-account" style="color: #657786; font-wight:500">@{{this.dataValues.account}}
            </div>
            <div class="user-list-item-icons mt-2">
              <div class="reply-data mr-4">
                {{!-- <i class="icon-reply" style="font-size: 18px;color: #657786"></i> --}}
                <img class="reply-icon" src="/images/reply@1X.png" alt="reply">
                <span>{{this.dataValues.Tweets.length}}</span>
              </div>
              <div class="like-data">
                {{!-- <i class="icon-like" style="font-size: 18px;color: #657786;"></i> --}}
                <img class="like-icon" src="/images/like@1X.png" alt="like">
                <span>{{this.dataValues.Likes.length}}</span>
              </div>
            </div>
            <div class="user-list-item-follow mt-2">
              <div class="user-list-item-following mr-3">
                {{this.dataValues.Followings.length}} <span>個跟隨中</span>
              </div>
              <div class="user-list-item-follower ">
                {{this.dataValues.Followers.length}} <span>個跟隨者</span>
              </div>
            </div>
          </div>
        </div>
        {{/each }}
      </div>
    </div>
  </div>
</div>