<div class="col-3">
  <div class="right-side-container right-bar fix-bar mt-3">
    <div class="top-follow-list" style="border-radius: 16px;">
      <h4 class="top-follow-list-title"><strong>推薦跟隨</strong></h4>
      <hr>
      {{#each user.TopUsers}}
      <div class="list-item follow-body" style="border-bottom: none;">
        <a href="/users/{{this.id}}" class="follow-avatar">
          <img src="{{this.avatar}}" class="rounded-circle" style="width: 50px;height:50px;">
        </a>
        <div class="list-item-name">
          <a href="/users/{{this.id}}">
            {{subText this.name 12}}
          </a>
          <div class="list-item-account">
            @{{subText this.account 12}}
          </div>
        </div>
        {{#if this.isFollowed }}
        <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
          <button class="btn-follow" name="id" value="{{this.id}}">正在追隨</button>
        </form>
        {{else}}
        <form action="/followships" method="POST">
          <button class="btn-unfollow" name="id" value="{{this.id}}">追隨</button>
        </form>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>