<div class="container">
  <div class="row" style="padding-left:98px; padding-right:118px;">
    {{> leftbar}}
    <div class="col-7" style="border: 1px solid #E6ECF0;padding:0px;">
      <div class="user-header d-flex align-items-center mt-1">
        <div class="user-profile-header-back">
          <a href="/tweets">
            <img src="/images/back@2x.png" alt="home">
          </a>
        </div>
        <div class="user-profile-header-info flex-grow-1">
          <div class="user-profile-header-nickname">
            <h4><strong>推文</strong></h4>
          </div>
        </div>
      </div>
      <div class="user-description">
        <div class="new-tweets-list-main-photo">
          <a href="/users/{{tweet.User.id}}">
            <img src="{{tweet.User.avatar}}" class="fl-tweet-reply" width="50px" height="50px"
              style="border-radius:50%;" />
          </a>
        </div>
        <div class="new-tweets-list-details">
          <div class="new-user-replies-name-time">
            <a href="/users/{{tweet.User.id}}">
              <strong>{{subText tweet.User.name 20}}</strong>
            </a>
            <br>
            <span>@{{subText tweet.User.account 20}}</span>
          </div>
          <div class="new-tweet-content-in-replies-page">
            <p>{{tweet.description}}</p>
          </div>
          <div class="new-tweet-time">
            <p style="color: #6C757D; font-size:smaller;">{{LocaleTime}} · {{LocaleDate}}</p>
            <div style="border-bottom: 1px solid #E6ECF0"></div>
          </div>
          <div class="new-replies-and-likes-counts">
            <span class="px-2" style="color: #6C757D;">
              <strong style="color: #000000;">{{tweet.Replies.length}}</strong>
               回覆
            </span>
            <spanp style="color: #6C757D;">
              <strong style="color: #000000;">{{tweet.Likes.length}}</strong> 
               喜歡次數
            </span>
            <hr>
          </div>
          <div class="new-reply-and-like-btn d-flex">
            <div data-bs-toggle="modal" data-bs-target="#user-reply-in-main{{tweet.id}}">
              <button type="submit" class="btn"><img class="new-left-bar-icon" src="/images/reply-outlined@2x.png" alt="reply"></button>
            </div>
            {{#if isLiked}}
            <form action="/tweets/{{tweet.id}}/unlike" method="POST">
              <button type="submit" class="btn" style="padding-right: 0px;"><img class="new-left-bar-icon"
                  src="/images/like-filled@2x.png" alt="unlike"></button>
            </form>
            {{else}}
            <form action="/tweets/{{tweet.id}}/like" method="POST">
              <button type="submit" class="btn" style="padding-right: 0px;"><img class="new-left-bar-icon"
                  src="/images/like-outlined@2x.png" alt="like"></button>
            </form>
            {{/if}}
          </div>
        </div>
        <hr>

        <!-- 回覆彈跳視窗 -->
      <div class="modal fade" tabindex="-1" id="user-reply-in-main{{tweet.id}}">
        <div class="modal-dialog modal-lg reply-modal-custom-size">
          <div class="modal-content user-profile-edit-new-reply">
            <div class="modal-header">
              <img src="/images/edit-profile-close@2x.png" class="close-image user-profile-edit" data-bs-dismiss="modal"
                alt="Close">
            </div>
            <div class="modal-body">
              <div class="custom-row">
                <div class="col-1">
                  <a href="/users/{{tweet.User.id}}">
                    <img src="{{tweet.User.avatar}}" class="new-fl-reply" />
                  </a>
                  <div class="new-reply-modal-vr-line"></div>
                </div>
                <div class="col-10">
                  <div>
                    <a href="/users/{{tweet.User.id}}"><strong
                        class="new-user-name">{{tweet.User.name}}</strong></a>
                    <span class="new-user-info"> @{{tweet.User.account}}‧{{moment tweet.createdAt}}</span>
                  </div>
                  <div class="tweet-details">
                    <p class="mb-5">{{tweet.description}}</p>
                    <span class="new-reply-to">回覆給
                      <span class="new-reply-to-name">
                        @{{tweet.User.account}}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="custom-row">
                <div class="col-1">
                  <a href="/users/{{user.id}}">
                    <img src="{{user.avatar}}" class="new-fl-reply" />
                  </a>
                </div>
                <div class="col-10">
                  <form action="/tweets/{{tweet.id}}/replies" method="POST" onsubmit="return validateReply();">
                    <textarea class="new-modal-input-tweets" id="new-user-reply-in-main" placeholder="推你的回覆" name="comment"
                      required></textarea>
                    </textarea>
                    <div class="d-flex flex-row-reverse">
                      <button class="tweetbtn" type="submit">回覆</button>
                      <p id="user-reply-alert-in-main" class="user-reply-alertMsg">內容不可空白</p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        {{!-- 回覆彈跳視窗
        <div class="modal" tabindex="-1" id="user-replies-modal{{tweet.id}}">
          <div class="modal-dialog modal-lg">
            <div class="modal-content user-profile-edit">
              <div class="modal-header">
                <img src="/images/edit-profile-close@2x.png" class="close-image user-profile-edit" data-bs-dismiss="modal" alt="Close">
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-2">
                    <a href="/users/{{tweet.User.id}}">
                      <img src="{{tweet.User.avatar}}" class="fl-tweet-reply-profile" width="50px" height="50px" />
                    </a>
                    <div class="reply-modal-vr-line"></div>
                  </div>
                  <div class="col-10">
                    <div>
                      <a href="/users/{{tweet.User.id}}"><strong style="font-size: 16px; font-weight: 700;">{{tweet.User.name}}</strong></a>
                      <span style="color: #6C757D; font-size:14px; font-weight: 400">@{{tweet.User.account}}·{{moment tweet.updatedAt}}</span>
                    </div>
                    <div>
                      <p class="mb-5">{{subText tweet.description 140}}</p>
                      <span style="color: #6C757D; font-size:16px; font-weight: 400">回覆給<span class="ms-1" style="color: #FF6600; font-size:14px; font-weight: 400">@{{tweet.User.account}}</span></span>
                    </div>
                  </div>
                </div>
                <div class="mb-4"></div>
                <a class="mt-4" href="/users/{{user.id}}">
                  <img src="{{user.avatar}}" class="fl" width="50px" height="50px"
                    style="border-radius:50%; margin-right: 3px;" />
                </a>
                <form action="/tweets/{{tweet.id}}/replies" method="POST">
                  <textarea class="modal-input-tweets" placeholder="推你的回覆" name="comment" id="user-reply-in-replies" maxlength="145" style="color: #6C757D; font-size:16px; font-weight: 400"
                    rows="3" cols="100"></textarea>
                  <div class="d-flex flex-row-reverse mb-1">
                    <button class="tweetbtn" type="submit" id="submit-reply">回覆</button>
                    <p id="user-reply-alert-in-replies" class="user-reply-alertMsg">內容不可空白</p>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div> --}}

      </div>
      {{#each reply}}
      <div class="user-replies-reply-page mt-3">
        <div class="user-reply replies-page-border-bottom">
          <div class="new-row">
            <div class="new-col-avatar">
              <a href="/users/{{this.User.id}}">
                <img src="{{this.User.avatar}}" class="fl-tweet-reply" width="50px" height="50px"
                  style="border-radius:50%; margin-right: 3px;" />
              </a>
            </div>
            <div class="new-col-content">
              <div>
                <a href="/users/{{this.UserId}}"><strong
                    style="font-size: 16px; font-weight: 700;">{{this.User.name}}</strong></a>
                <span style="color: #6C757D; font-size:14px; font-weight: 400">@{{this.User.account}}·{{moment
                  this.updatedAt}}</span>
              </div>
              <span style="color: #6C757D; font-size:14px; font-weight: 400">回覆 </span><span style="color: #FF6600;">@{{../tweet.User.account}}</span></p>
              <p>{{subText this.comment 140}}</p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{> rightbar}}
  </div>
</div>

{{!-- user推文彈跳視窗 --}}
<div class="modal" tabindex="-1" id="user-tweet-modal">
  <div class="modal-dialog modal-lg tweet-custom-modal-dialog">
    <div class="modal-content user-profile-edit-new-tweet">
      <div class="modal-header new-tweet">
        <img src="/images/edit-profile-close@2x.png" class="close-image user-profile-edit" data-bs-dismiss="modal"
          alt="Close">
      </div>
      <div class="modal-body">
        <a href="/users/{{user.id}}">
          <img src="{{user.avatar}}" class="fl-tweet" width="50px" height="50px" />
        </a>
        <form action="/tweets" method="POST" onsubmit="return validateTweet();">
          <textarea class="modal-input-tweets" id="user-tweet-description-in-main" type="description"
            placeholder="有什麼新鮮事？" name="description" id="user-tweet-description" maxlength="140" rows="3" cols="100"
            required></textarea>
          <div class="d-flex flex-row-reverse mb-1 new-tweet-send">
            <button class="tweetbtn" type="submit">推文</button>
            <p id="user-tweet-description-alert-in-main" class="user-tweet-alertMsg">字數不可超過 140 字</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
